n8n/01_complaint_notification.json
{
  "name": "KFUEIT - 01 Complaint Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-complaint",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "b3d9e4f2-1a2b-3c4d-5e6f-7a8b9c0d1e2f"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://127.0.0.1:8000/api/agent/student/' + $json.body.roll_no + '/' }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f01234567890",
      "name": "Fetch Student Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-gmail@gmail.com",
        "toEmail": "admin@kfueit.edu.pk",
        "subject": "={{ '[KFUEIT] New Complaint #' + $('Webhook').item.json.body.complaint_id + ': ' + $('Webhook').item.json.body.subject }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 640px; margin: 0 auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;\">\n\n  <div style=\"background: #1e3a5f; color: white; padding: 24px; text-align: center;\">\n    <h2 style=\"margin: 0; font-size: 20px;\">KFUEIT Agent Assist</h2>\n    <p style=\"margin: 6px 0 0; font-size: 14px; opacity: 0.85;\">New Student Complaint — Requires Attention</p>\n  </div>\n\n  <div style=\"padding: 24px; background: #f9fafb;\">\n\n    <h3 style=\"margin: 0 0 12px; font-size: 15px; color: #1e3a5f;\">Complaint Details</h3>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; margin-bottom: 20px;\">\n      <thead>\n        <tr style=\"background: #e8f0fe;\">\n          <th style=\"padding: 10px 14px; text-align: left; border: 1px solid #d0d7de; width: 35%;\">Field</th>\n          <th style=\"padding: 10px 14px; text-align: left; border: 1px solid #d0d7de;\">Details</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Complaint ID</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">#{{ $('Webhook').item.json.body.complaint_id }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Subject</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $('Webhook').item.json.body.subject }}</td></tr>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Description</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $('Webhook').item.json.body.description }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Filed At</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $('Webhook').item.json.body.timestamp }}</td></tr>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Status</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><span style=\"color: #d97706; font-weight: bold;\">OPEN</span></td></tr>\n      </tbody>\n    </table>\n\n    <h3 style=\"margin: 0 0 12px; font-size: 15px; color: #1e3a5f;\">Student Profile</h3>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; margin-bottom: 20px;\">\n      <tbody>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de; width:35%;\"><strong>Name</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $json.profile.name }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Roll No</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $json.profile.roll_no }}</td></tr>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Program</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $json.profile.program }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>CGPA</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $json.profile.cgpa }}</td></tr>\n        <tr><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\"><strong>Email</strong></td><td style=\"padding: 10px 14px; border: 1px solid #d0d7de;\">{{ $json.profile.email }}</td></tr>\n      </tbody>\n    </table>\n\n    <h3 style=\"margin: 0 0 12px; font-size: 15px; color: #1e3a5f;\">Attendance Summary</h3>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 13px; margin-bottom: 20px;\">\n      <thead>\n        <tr style=\"background: #e8f0fe;\">\n          <th style=\"padding: 8px 12px; text-align: left; border: 1px solid #d0d7de;\">Course</th>\n          <th style=\"padding: 8px 12px; text-align: center; border: 1px solid #d0d7de;\">Present</th>\n          <th style=\"padding: 8px 12px; text-align: center; border: 1px solid #d0d7de;\">Total</th>\n          <th style=\"padding: 8px 12px; text-align: center; border: 1px solid #d0d7de;\">%</th>\n          <th style=\"padding: 8px 12px; text-align: center; border: 1px solid #d0d7de;\">Status</th>\n        </tr>\n      </thead>\n      <tbody>\n        {{ $json.attendance.map((a, i) => `<tr style=\"${i%2===1?'background:#f5f5f5;':''}\"><td style=\"padding:8px 12px;border:1px solid #d0d7de;\">${a.course_name}</td><td style=\"padding:8px 12px;border:1px solid #d0d7de;text-align:center;\">${a.present}</td><td style=\"padding:8px 12px;border:1px solid #d0d7de;text-align:center;\">${a.total}</td><td style=\"padding:8px 12px;border:1px solid #d0d7de;text-align:center;\">${a.percentage}%</td><td style=\"padding:8px 12px;border:1px solid #d0d7de;text-align:center;\"><span style=\"color:${a.status==='OK'?'green':'red'};font-weight:bold;\">${a.status}</span></td></tr>`).join('') }}\n      </tbody>\n    </table>\n\n    <p style=\"font-size: 13px; color: #555;\">Please review this complaint and take appropriate action.</p>\n  </div>\n\n  <div style=\"background: #e8f0fe; padding: 12px; text-align: center; font-size: 12px; color: #555;\">\n    KFUEIT Agent Assist &middot; Automated Complaint System &middot; Do not reply\n  </div>\n</div>",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "KFUEIT Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Complaint notification sent to admin', complaint_id: $('Webhook').item.json.body.complaint_id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Student Data", "type": "main", "index": 0 }]]
    },
    "Fetch Student Data": {
      "main": [[{ "node": "Notify Admin", "type": "main", "index": 0 }]]
    },
    "Notify Admin": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "d4e5f6a7-b8c9-0123-def0-456789012345",
  "id": "kfueit-01-complaint-notification",
  "tags": [{ "name": "KFUEIT" }]
}
