n8n/02_send_email_teacher.json
{
  "name": "KFUEIT - 02 Send Email to Teacher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-efab-cd1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "c4e0f3a2-2b3c-4d5e-6f7a-8b9c0d1e2f3a"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://127.0.0.1:8000/api/agent/student/' + $json.body.from_roll + '/' }}",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8901-fabc-d12345678901",
      "name": "Fetch Student Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-gmail@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 620px; margin: 0 auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;\">\n\n  <div style=\"background: #1e3a5f; color: white; padding: 24px; text-align: center;\">\n    <h2 style=\"margin: 0; font-size: 20px;\">KFUEIT Agent Assist</h2>\n    <p style=\"margin: 6px 0 0; font-size: 14px; opacity: 0.85;\">Message from Student via AI Assistant</p>\n  </div>\n\n  <div style=\"padding: 24px; background: #f9fafb;\">\n    <p style=\"font-size: 14px; color: #333; margin: 0 0 16px;\">Dear Sir/Ma'am,</p>\n\n    <div style=\"background: white; border-left: 4px solid #1e3a5f; padding: 16px; border-radius: 4px; margin-bottom: 20px; font-size: 14px; color: #333; line-height: 1.6;\">\n      {{ $('Webhook').item.json.body.body }}\n    </div>\n\n    <h3 style=\"margin: 0 0 12px; font-size: 15px; color: #1e3a5f;\">Student Information</h3>\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px; margin-bottom: 20px;\">\n      <tbody>\n        <tr><td style=\"padding: 9px 12px; border: 1px solid #d0d7de; width:35%;\"><strong>Name</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.name }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\"><strong>Roll No</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.roll_no }}</td></tr>\n        <tr><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\"><strong>Program</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.program }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\"><strong>Section</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.section }}</td></tr>\n        <tr><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\"><strong>CGPA</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.cgpa }}</td></tr>\n        <tr style=\"background:#f5f5f5;\"><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\"><strong>Student Email</strong></td><td style=\"padding: 9px 12px; border: 1px solid #d0d7de;\">{{ $json.profile.email }}</td></tr>\n      </tbody>\n    </table>\n\n    <p style=\"font-size: 12px; color: #888;\">\n      This message was composed and sent on behalf of the student by the KFUEIT AI Agent Assist system.\n      Please reply directly to the student at <strong>{{ $json.profile.email }}</strong>.\n    </p>\n  </div>\n\n  <div style=\"background: #e8f0fe; padding: 12px; text-align: center; font-size: 12px; color: #555;\">\n    KFUEIT Agent Assist &middot; Automated Student Communication &middot; Do not reply to this email\n  </div>\n</div>",
        "options": {}
      },
      "id": "b5c6d7e8-f9a0-1234-bcde-f09876543210",
      "name": "Send to Teacher",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "KFUEIT Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Email sent to ' + $('Webhook').item.json.body.to, to: $('Webhook').item.json.body.to }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d7e8f9a0-b1c2-3456-defa-012345678901",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Student Data", "type": "main", "index": 0 }]]
    },
    "Fetch Student Data": {
      "main": [[{ "node": "Send to Teacher", "type": "main", "index": 0 }]]
    },
    "Send to Teacher": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "e5f6a7b8-c9d0-1234-efab-123456789012",
  "id": "kfueit-02-send-email-teacher",
  "tags": [{ "name": "KFUEIT" }]
}
